/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables and reset */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --primary-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img{
  width: 100%;
}

section {
  padding: 60px 0px;
}



/* Nabvar Css start */

.header{
  width:100%;
  height:70px;
  line-height: 70px;

}

.nav__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.logo img{
  width:1.5rem;
  height:1.5rem;
}
.logo h1{
 font-size:1.2rem;
 font-weight: 700;
 color:var(--primary-color)
}

.menu{
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-bottom: 0;
}

.nav__item a{
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}
.nav__item a:hover{
  text-decoration: none;
}
.nav__item a.nuxt-link-exact-active{
  font-weight: 700;
}

.nav__icons{
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.cart__icon{
  position: relative;
}

.nav__icons span svg{
  font-size: 1.3rem;
  color: var(--primary-color);
  cursor: pointer;
}

.mobile__menu{
  font-size: 1.3rem;
  color: var(--primary-color);
  display: none;
}


/* Nabvar Css End */